<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Mökkeilijän vinkkipankki</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
</html>

<body>
	<header class="header-top bg-grey justify-content-center">
		<div class="container">
			<div class="row align-items-center">
			</div>
		</div>
	</header>

	<!--search overlay start-->
	<div class="search-wrap">
		<div class="overlay">
			<form action="#" class="search-form">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-9">
							<input type="text" class="form-control" placeholder="Search..." />
						</div>
						<div class="col-md-2 col-3 text-right">
							<div class="search_toggle toggle-wrap d-inline-block">
								<i class="ti-close"></i>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!--search overlay end-->

	<section class="banner">
		<div class="container">
			<div class="banner-img">
				<a href="blog-single.html"><img src="https://mokkisovellus.blob.core.windows.net/mokkisovellus/CutCottage.jpg" alt="" class="img-fluid w-100"></a>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="banner-content text-center">
						<div class="meta-cat">
							<span class="text-capitalize letter-spacing-1 cat-name font-extra text-color">Mökkeily</span>
						</div>
						<div class="post-title">
							<h2><a href="blog-single.html">Jokaisen mökkeilijän vinkkipankki</a></h2>
						</div>

						<div class="post-meta footer-meta">
							<ul class="list-inline">
								<li class="post-like list-inline-item">
									<span class="count">Kaikki</span> Vinkit
								</li>
								<li class="post-read list-inline-item">Kokeneille ja kokemattomille</li>
								<li class="post-view list-inline-item">kaiken ikäsisille</li>
							</ul>
						</div>
						<div class="post-content">
							<p>Tervetuloa Mökkeilyn maailmaan, jossa luonto kutsuu ja arjen kiireet unohtuvat. 
								Tämä mökkiblogi tarjoaa sinulle loputtomasti inspiraatiota, vinkkejä ja tarinoita kaikkien mökkeilijöiden iloksi. 
								Astu mukaan ja löydä rauhaa metsän syleilyssä, seikkailuja vesillä ja uusia tapoja nauttia mökkielämästä. 
								Laita retkireppu valmiiksi ja lähde kanssamme tutkimusmatkalle mökkimaisemiin, 
								missä jokainen päivä on täynnä uusia löytöjä ja unohtumattomia hetkiä. 
								Tervetuloa Mökkeilyn maailmaan – valmistaudu jakamaan intohimoa luontoon ja mökkeilyyn!</p>
							<a href="blog-single.html" class="btn btn-grey mt-3"> Lue lisää</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-padding pt-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">

					<article class="post-list mb-5 pb-4 border-bottom">
						<a class="post-thumb mb-3 d-block" href="blog-single.html">
							<img src="https://mokkisovellus.blob.core.windows.net/mokkisovellus/IMG_9270.jpg" alt="" class="img-fluid w-100">
						</a>
						<div class="meta-cat">
							<span class="letter-spacing cat-name font-extra text-uppercase font-sm">Istutuslaatikot</span>
						</div>
						<h3 class="post-title mt-2"><a href="blog-single.html">Nyt on juuri oikea aika rakentaa istutuslaatikot</a></h3>

						<div class="post-meta footer-meta">
							<ul class="list-inline">
								<li class="post-like list-inline-item">
									<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>Kasveille, yrteille sekä salaateille</span>
								</li>
								<li class="post-view list-inline-item letter-spacing-1">tai vaikka tomaateille!</li>
							</ul>
						</div>
						<div class="post-content">
							<p> Istutuslaatikot mökillä tarjoavat kätevän ja tehokkaan tavan viljellä kasveja rajoitetulla tilalla. 
								Näiden kompaktien viljelyastioitten avulla voit kasvattaa monenlaisia kasveja mökilläsi. 
								Istutuslaatikot tarjoavat paremman hallinnan maaperän laadusta, ravinteista ja kastelusta, mikä voi johtaa terveempään kasvuun ja suurempaan satoon. 
								Ne ovat myös helposti hoidettavia ja ergonomisia, mikä tekee mökkikasvien viljelystä nautinnollista ja vaivatonta.</p>
						</div>
					</article>



					<div class="mb-4 post-list border-bottom pb-4">
						<div class="row no-gutters">
							<div class="col-md-5">
								<a class="post-thumb " href="blog-single.html">
									<img src="https://mokkisovellus.blob.core.windows.net/mokkisovellus/IMG_8935.jpg" alt="" class="img-fluid w-100">
								</a>
							</div>

							<div class="col-md-7">
								<div class="post-article mt-sm-3">
									<div class="meta-cat">
										<span class="letter-spacing cat-name font-extra text-uppercase font-sm">Herkuttele</span>
									</div>
									<h3 class="post-title mt-2"><a href="blog-single.html">Mökiltä suoraan Napoliin</a></h3>

									<div class="post-meta">
										<ul class="list-inline">
											<li class="post-like list-inline-item">
												<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>suolaiset</span>
											</li>
											<li class="post-view list-inline-item letter-spacing-1">makeat</li>
										</ul>
									</div>
									<div class="post-content">
										<p>Mökilläkin saa herkutella, eikä aina ole pakko tehdä grillissä ruokaa - ellei se juuri ole lempiruokaasi. 
											Pizzauuni on monikäyttöinen mökillä. Miten ihana onkaan yllättää myös vieraat herkullisilla napolilaisilla pizzoille. 
											Oletko itse kokeillut jo jälkiruokapizzaa?</p>
									</div>
									<div class="post-content">
										<p>
											Jälkiruokapizzan voi tehdä samaan pohjaan kuin suolaisetkin pizzat, mutta paista ensin pohja. 
											Sitten laita päälle vanilja cremeä ja mascarponea tomaattikastikkeen sijasta.
											Käytä sesongiss olevia marjoja kuten vaikka mansikoita ja mustikoita. Ripottele päälle tomusokeria ja nauti.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="mb-4 post-list border-bottom pb-4">
						<div class="row no-gutters">
							<div class="col-md-5">
								<a class="post-thumb" href="blog-single.html">
									<img src="https://mokkisovellus.blob.core.windows.net/mokkisovellus/IMG_9281.jpg" alt="" class="img-fluid w-100">
								</a>
							</div>

							<div class="col-md-7">
								<div class="post-article mt-sm-3">
									<div class="meta-cat">
										<span class="letter-spacing cat-name font-extra text-uppercase font-sm">kasvatus</span>
									</div>
									<h3 class="post-title mt-2"><a href="blog-single.html">Raparperin istutus</a></h3>

									<div class="post-meta">
										<ul class="list-inline">
											<li class="post-like list-inline-item">
												<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>mihin</span>
											</li>
											<li class="post-view list-inline-item letter-spacing-1">miten</li>
										</ul>
									</div>
									<div class="post-content">
										<p>Raparperi - helppo ja maukas valinta mökkipuutarhaan!
											Raparperi on ihanteellinen kasvi mökkipuutarhaan. 
											Se on vaivaton kasvatettava, kestää vaihtelevia sääolosuhteita ja viihtyy jopa osittaisessa varjossa. 
											Raparperi tarjoaa runsaan sadon herkullisia varret, joista voit loihtia mehukkaita piirakoita ja muita leivonnaisia. 
											Istuttamalla raparperia mökillesi hyödynnät tilan tehokkaasti ja voit nauttia tuoreista herkuista suoraan omasta puutarhasta. 
											Tartu lapioon ja luo mökkisi vihreään keitaaseen raparperin avulla!<p>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="mb-4 post-list border-bottom pb-4">
						<div class="row no-gutters">
							<div class="col-md-5">
								<a class="post-thumb" href="blog-single.html">
									<img src="https://mokkisovellus.blob.core.windows.net/mokkisovellus/IMG_8964.jpg" alt="" class="img-fluid w-100">
								</a>
							</div>

							<div class="col-md-7">
								<div class="post-article mt-sm-3">
									<div class="meta-cat">
										<span class="letter-spacing cat-name font-extra text-uppercase font-sm">maalaus</span>
									</div>
									<h3 class="post-title mt-2"><a href="blog-single.html">Autotallin maalaus puuöljyllä</a></h3>

									<div class="post-meta">
										<ul class="list-inline">
											<li class="post-like list-inline-item">
												<span class="font-sm  letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>Helppoa</span>
											</li>
											<li class="post-view list-inline-item letter-spacing-1">Edullista</li>
										</ul>
									</div>
									<div class="post-content">
										<p>
											Autotallin puupintojen käsittely puuöljyllä tarjoaa monia etuja. Puuöljy muodostaa suojakerroksen puun pintaan, 
											joka estää kosteuden, lian ja haitallisten aineiden tunkeutumisen puuhun. Tämä auttaa säilyttämään puun eheyden ja estää sen halkeilun, 
											lahovauriot sekä homeen tai sienen kasvun. Puuöljy suojaa myös puuta auringon UV-säteilyltä, joka voi aiheuttaa haalistumista ja värin muutoksia 
											ajan myötä.
											Yksi suuri etu puuöljyn käytössä autotallin pintakäsittelyssä on sen edullisuus. Verrattuna esimerkiksi maalaamiseen tai lakkaamiseen, 
											puuöljyn hankinta ja levittäminen on huomattavasti taloudellisempaa. Se on myös helppo levittää itse ilman suuria työkustannuksia. 
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					@*<div class="mb-4 post-list border-bottom pb-4">
						<div class="row no-gutters">
							<div class="col-md-5">
								<a class="post-thumb" href="blog-single.html">
									<img src="images/fashion/img-4.jpg" alt="" class="img-fluid w-100">
								</a>
							</div>

							<div class="col-md-7">
								<div class="post-article mt-sm-3">
									<div class="meta-cat">
										<span class="letter-spacing cat-name font-extra text-uppercase font-sm">Weekends</span>
									</div>
									<h3 class="post-title mt-2"><a href="blog-single.html">One Week Itinerary</a></h3>

									<div class="post-meta">
										<ul class="list-inline">
											<li class="post-like list-inline-item">
												<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>4 min
													read</span>
											</li>
											<li class="post-view list-inline-item letter-spacing-1">89 Views</li>
										</ul>
									</div>
									<div class="post-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat
											necessitatibus tenetur ratione eius numquam!</p>
									</div>
								</div>
							</div>
						</div>
					</div>*@


					@*<div class="mb-4 post-list border-bottom pb-4">
						<div class="row no-gutters">
							<div class="col-md-5">
								<a class="post-thumb" href="blog-single.html">
									<img src="images/fashion/img-5.jpg" alt="" class="img-fluid w-100">
								</a>
							</div>

							<div class="col-md-7">
								<div class="post-article mt-sm-3">
									<div class="meta-cat">
										<span class="letter-spacing cat-name font-extra text-uppercase font-sm">lifestyle</span>
									</div>
									<h3 class="post-title mt-2"><a href="blog-single.html">Start Living Today</a></h3>

									<div class="post-meta">
										<ul class="list-inline">
											<li class="post-like list-inline-item">
												<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>2 min
													read</span>
											</li>
											<li class="post-view list-inline-item letter-spacing-1">572 Views</li>
										</ul>
									</div>
									<div class="post-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat
											necessitatibus tenetur ratione eius numquam!</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="mb-4 post-list border-bottom pb-4">
						<div class="row no-gutters">
							<div class="col-md-5">
								<a class="post-thumb" href="blog-single.html">
									<img src="images/fashion/img-6.jpg" alt="" class="img-fluid w-100">
								</a>
							</div>

							<div class="col-md-7">
								<div class="post-article mt-sm-3">
									<div class="meta-cat">
										<span class="letter-spacing cat-name font-extra text-uppercase font-sm">Travel</span>
									</div>
									<h3 class="post-title mt-2"><a href="blog-single.html">Hint of Spring</a></h3>

									<div class="post-meta">
										<ul class="list-inline">
											<li class="post-like list-inline-item">
												<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>3 min
													read</span>
											</li>
											<li class="post-view list-inline-item letter-spacing-1">209 Views</li>
										</ul>
									</div>
									<div class="post-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat
											necessitatibus tenetur ratione eius numquam!</p>
									</div>
								</div>
							</div>
						</div>
					</div>
*@
				</div>
				<div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
					<div class="sidebar sidebar-right">
						<div class="sidebar-wrap mt-5 mt-lg-0">
							<div class="sidebar-widget about mb-5 text-center p-3">
								<div class="about-author">
									<img src="https://mokkisovellus.blob.core.windows.net/mokkisovellus/D5B156EF-C073-48E4-B295-D6E29AE175AE.PNG" alt="" class="img-fluid">
								</div>
								<h4 class="mb-0 mt-4">Mökki Salajärvellä</h4>
								<p>Instagram tili</p>
								<p>Ennen tätä sivua kaikki mökkivinkit sijoittuivat vain aktiiviselle Instagram tililleni, mutta nyt tämä on tarjolla kaikille mökkeilijöille täällä. Tervetuloa!</p>
								<img src="images/liammason.png" alt="" class="img-fluid">
							</div>

							<div class="sidebar-widget category mb-5">
								<h4 class="text-center widget-title">vuodenajat</h4>
								<ul class="list-unstyled">
									<li class="align-items-center d-flex justify-content-between">
										<a href="#">Kevät</a>
										<span>14</span>
									</li>
									<li class="align-items-center d-flex justify-content-between">
										<a href="#">Kesä</a>
										<span>2</span>
									</li>
									<li class="align-items-center d-flex justify-content-between">
										<a href="#">Syksy</a>
										<span>10</span>
									</li>
									<li class="align-items-center d-flex justify-content-between">
										<a href="#">Talvi</a>
										<span>5</span>
									</li>
								</ul>
							</div>

							@*<div class="sidebar-widget subscribe mb-5">
								<h4 class="text-center widget-title">Newsletter</h4>
								<input type="text" class="form-control" placeholder="Email Address">
								<a href="#" class="btn btn-primary d-block mt-3">Sign Up</a>
							</div>*@

							<div class="sidebar-widget sidebar-adv mb-5">
								<a href="#"><img src="images/sidebar-banner3.png" alt="" class="img-fluid w-100"></a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
@*
	<section class="footer-2 section-padding gray-bg pb-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="widget footer-widget mb-5 mb-lg-0">
						<h5 class="widget-title text-uppercase letter-spacing-2 mb-4">About me</h5>
						<img src="images/about.jpg" alt="" class="img-fluid">
						<p class="mt-4">It is the best selling Blog & Magazine html Theme of this year on Themefisher.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="widget footer-widget mb-5 mb-lg-0">
						<h5 class="widget-title text-uppercase letter-spacing-2 mb-4">Trending</h5>

						<div class="media pb-3 sidebar-post-item">
							<a href="#"><img class="mr-4" src="images/news/thumb-1.jpg" alt=""></a>
							<div class="media-body">
								<span class="text-uppercase font-sm font-extra letter-spacing"> Travel</span>
								<h4 class="mt-1"><a href="blog-single.html">Thoughtful living in los Angeles</a></h4>
							</div>
						</div>

						<div class="media py-3 sidebar-post-item">
							<a href="#"><img class="mr-4" src="images/news/thumb-2.jpg" alt=""></a>
							<div class="media-body">
								<span class="text-uppercase font-sm font-extra letter-spacing"> Travel</span>
								<h4 class="mt-1"><a href="blog-single.html">Vivamus molestie gravida turpis.</a></h4>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="widget footer-widget">
						<h5 class="widget-title text-uppercase letter-spacing-2 mb-4">Gallery</h5>

						<div class="row no-gutters">
							<div class="col-lg-4 col-md-6 col-sm-6 col-6">
								<a href="#"><img class="img-fluid" src="images/f1.jpg" alt="" /></a>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6  col-6">
								<a href="#"><img class="img-fluid" src="images/f2.jpg" alt="" /></a>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6  col-6">
								<a href="#"><img class="img-fluid" src="images/f3.jpg" alt="" /></a>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6  col-6">
								<a href="#"><img class="img-fluid" src="images/f4.jpg" alt="" /></a>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6  col-6">
								<a href="#"><img class="img-fluid" src="images/f2.jpg" alt="" /></a>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6  col-6">
								<a href="#"><img class="img-fluid" src="images/f3.jpg" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
*@
			<div class="footer-btm mt-5 pt-4 border-top">
				<div class="row">
					<div class="col-lg-12">
						<ul class="list-inline footer-socials-2 text-center">
					<li class="list-inline-item"><a href="https://www.instagram.com/mokkisalajarvella/" ">Instagram</a></li>
							<li class="list-inline-item"><a href="#">yhteystiedot</a></li>
							<li class="list-inline-item"><a href="#">Vinkkipankki</a></li>
							<li class="list-inline-item"><a href="#">vuodenajat</a></li>
							<li class="list-inline-item"><a href="#">kuvat</a></li>
							<li class="list-inline-item"><a href="#">askareet</a></li>
						</ul>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-6">
						<div class="copyright text-center ">
					<a " href=" https://www.instagram.com/mokkisalajarvella/">MökkiSalajärvellä.</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>